<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="navbar">
    <div id="navbar"
         class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a th:href="@{/}" th:text="#{project.name}"></a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" th:href="@{/my/orders}">Orders</a>

            <a class="p-2 text-dark" th:href="@{/cart}">Cart</a>

            <a class="p-2 text-dark" th:if="${#authentication != null}" th:text="${#authentication.name}">User</a>
            <a class="p-2 text-dark" th:if="${#authentication != null}" th:href="@{/logout}">logout</a>
            <a class="p-2 text-dark" th:if="${#authentication == null}" th:href="@{/login}">login</a>
        </nav>
    </div>
</div>
</body>
</html>
