.card-deck .card {
    width: 22%;
    flex: none;
    margin-bottom: 20px;
}

.toast {
    position: fixed;
    right: 15px;
    top: 85px;
    z-index: 9999;
}

.navbar-brand.category {
    font-size: 0.9rem;
}

.add-to-cart-form {
}

.navbar-brand.logo img {
    max-height: 48px
}

.dish .card-body {
    padding-bottom: 58px;
}

.add-to-cart-form .btn {
    position: absolute;
    right: 0;
    bottom: 0;
}