<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cart</title>

    <th:block th:include="layout/common_head :: head">common_head</th:block>
    <script type="application/javascript" th:src="@{/js/cart.js}" src="../static/js/cart.js"></script>
</head>

<body>

<th:block th:insert="layout/navbar :: navbar">navbar</th:block>

<!--Main layout-->
<main>
    <div class="container cart-page">

        <div th:if="${cart == null}" class="alert alert-danger" role="alert">
            The service is not available. Please try again later
        </div>

        <div th:if="${cart != null}">

            <div th:if="${cart.isEmpty()}" class="alert alert-danger" role="alert">
                Your cart is empty!
            </div>

            <!--Section: Block Content-->
            <section th:if="${!cart.isEmpty()}" class="mt-5 mb-4">

                <a th:href="@{/restaurant/{id}(id=*{cart.items[0].dish.restaurantId})}">Go to the restaurant</a>
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-lg-8">

                        <!-- Card -->
                        <div class="card wish-list mb-4">
                            <div class="card-body">

                                <h5 class="mb-4">Cart</h5>

                                <div th:each="item,iterator : ${cart.items}" th:object="${item}" class="row mb-4"
                                     th:data-index="${iterator.index}">
                                    <div class="col-md-5 col-lg-3 col-xl-3">
                                        <img class="img-fluid w-100" th:src="*{dish.imageUrl}"/>
                                    </div>
                                    <div class="col-md-7 col-lg-9 col-xl-9">
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <h5 th:text="*{dish.name}">Product name</h5>
                                                </div>
                                                <div>
                                                    <div class="text-muted number-input mb-0 w-100">
                                                        <span class="item-price" th:text="*{price}"></span> &times;
                                                        <input class="quantity" min="1" name="quantity"
                                                               th:value="*{quantity}" type="number">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <a href="#" class="btn-remove-cart-item small text-uppercase mr-3">
                                                        <i class="fas fa-trash-alt mr-1"></i> Remove item </a>
                                                </div>
                                                <p class="mb-0"><span><strong class="item-total"
                                                                              th:text="*{totalAmount}">$17</strong></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div th:each="item,iterator : ${cart.gifts}" th:object="${item}" class="row mb-4"
                                     th:data-index="${iterator.index}">
                                    <div class="col-md-5 col-lg-3 col-xl-3">
                                        <img class="img-fluid w-100" th:src="*{dish.imageUrl}">
                                    </div>
                                    <div class="col-md-7 col-lg-9 col-xl-9">
                                        <div>
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <h5 th:text="*{dish.name}">Product name</h5>
                                                </div>
                                                <div>
                                                    <div class="text-muted number-input mb-0 w-100">
                                                        <input class="quantity" min="1" name="quantity" readonly
                                                               th:value="*{quantity}" type="number">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="mb-0"><span><strong class="item-total">FREE</strong></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Card -->


                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-4">

                        <!-- Card -->
                        <div class="card mb-4">
                            <div class="card-body">

                                <h5 class="mb-3">The total amount of</h5>

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                        <div>
                                            <strong>SubTotal</strong>
                                        </div>
                                        <span><strong th:text="${cart.subTotal}" id="sub-total">$53.98</strong></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                        <div>
                                            <strong>Discount</strong>
                                        </div>
                                        <span><strong th:text="${cart.discount}" id="discount">$53.98</strong></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                        <div>
                                            <strong>Total</strong>
                                        </div>
                                        <span><strong th:text="${cart.total}" id="total">$53.98</strong></span>
                                    </li>
                                </ul>

                                <form id="checkout-form" method="post" th:action="@{/cart/makeReservation}">
                                    <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">go
                                        to
                                        checkout
                                    </button>
                                </form>


                            </div>


                        </div>
                        <!-- Card -->


                        <form id="promo-code-form" th:if="${cart.promoCodeId == null}" class="card p-2" method="post"
                              th:action="@{/cart/applypromocode}">
                            <div class="input-group">
                                <input type="text" name="promoCodeId"
                                       class="form-control" placeholder="Promo code">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-secondary">Apply</button>
                                </div>
                            </div>
                        </form>
                        <form id="promo-code-form" th:if="${cart.promoCodeId != null}" class="card p-2"
                              method="post"
                              th:action="@{/cart/cancelpromocode}">
                            <div class="input-group">

                                <input type="text" name="promoCodeId"
                                       th:value="${cart.promoCodeId}"
                                       class="form-control" placeholder="Promo code">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-secondary">Cancel</button>
                                </div>
                            </div>
                        </form>


                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Block Content-->
        </div>
    </div>
</main>
<!--Main layout-->

</body>
</html>
