<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <th:block th:include="layout/common_head :: head">common_head</th:block>
</head>

<body>

<th:block th:insert="layout/navbar :: navbar">navbar</th:block>

<div class="container">


    <div class="py-5 text-center">
        <h2>Checkout</h2>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill" th:text="${preOrder.items.size()}">3</span>
            </h4>
            <ul class="list-group mb-3">
                <li th:each="item : ${preOrder.items}" th:object="${item}"
                    class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0" th:text="*{dish.name}">Product name</h6>
                        <small class="text-muted">
                            <span th:text="*{price}">$2</span> &times;
                            <span th:text="*{quantity}">2</span>
                        </small>
                    </div>

                    <!--/                    <s th:if="*{totalOriginal != totalAmount}" th:text="*{totalOriginal}" class="text-muted">$3</s>/-->

                    <span class="text-muted" th:text="*{totalAmount}">$12</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Sub total</span>
                    <strong th:text="${preOrder.subTotal}"></strong>
                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Discount</h6>
                    </div>
                    <span class="text-success">
                        -<span th:text="${preOrder.discount}"></span>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total</span>
                    <strong th:text="${preOrder.total}"></strong>
                </li>
            </ul>

        </div>

        <div class="col-md-8 order-md-1">

            <h4 class="mb-3">Billing address</h4>
            <form method="post" th:action="@{/checkout}">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder=""
                               value=""
                               required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder=""
                               value=""
                               required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="your@example.com"
                           value="">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="street">Street</label>
                    <input type="text" class="form-control" id="street" name="street" value="" required>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-4">
                        <label for="house">House</label>
                        <input type="text" class="form-control" id="house" name="house" required value="">
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="floor">Floor</label>
                        <input type="text" class="form-control" id="floor" name="floor" required value="">
                    </div>
                    <div class="col-md-4 mb-4">
                        <label for="flat">Flat</label>
                        <input type="text" class="form-control" id="flat" name="flat" required value="">
                    </div>
                </div>
                <!--/*
                          <hr class="mb-4">


                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="same-address">
                              <label class="custom-control-label" for="same-address">Shipping address is the same as my
                                  billing
                                  address</label>
                          </div>
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="save-info">
                              <label class="custom-control-label" for="save-info">Save this information for next time</label>
                          </div>
                          <hr class="mb-4">
                          */-->

                <!--/*   <h4 class="mb-3">Payment</h4>

                   <div class="d-block my-3">
                       <div class="custom-control custom-radio" th:each="paymentMethod : ${paymentMethods}"
                            th:object="${paymentMethod}">
                           <input th:id="'payment-' + *{id}" name="paymentMethodId" type="radio"
                                  class="custom-control-input"
                                  th:value="*{id}"
                                  required>
                           <label class="custom-control-label" th:for="'payment-' + *{id}" th:text="*{name}">
                               Credit card
                           </label>
                       </div>
                   </div>

                   */-->

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
            </form>
        </div>

    </div>
</div>


</body>
</html>
