<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Success</title>

    <th:block th:include="layout/common_head :: head">common_head</th:block>
</head>

<body>

<th:block th:insert="layout/navbar :: navbar">navbar</th:block>


<div class="container">
    <div class="row text-center">
        <div class="col-sm-12">
            <h1>Orders</h1>
        </div>
    </div>

    <div class="col-sm-12">
        <div th:each="order, iterator : ${orders}" th:object="${order}">
            <h4 th:text="*{id}">10022</h4>

            <div th:text="*{status}">New</div>
            <div th:text="*{total}">100.</div>
            <div th:text="*{restaurant.name}">restaurantId</div>
            <!--/*
            <div th:text="*{#dates.format(createdAt.toInstant(), 'yyyy-MM-dd')}">Date</div>
            */-->
            <div th:each="item : *{items}" th:object="${item}">
                <div th:text="*{name}">New</div>
            </div>
            <hr th:if="!${iterator.last}"/>
        </div>
    </div>
</div>

</body>
</html>
