<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="promos" th:if="${!promoActions.isEmpty() || !promoCodes.isEmpty()}">

    <h2>Promos</h2>
    <div class="promos card-deck text-center">

        <div th:each="promo : ${promoActions}" class="card box-shadow"
             th:if="${promo.class.simpleName == 'AbsoluteDiscountPromoAction'}">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Discounts</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled text-left mt-3 mb-4">
                    <li th:each="discount : ${promo.discounts}">
                        From
                        <b th:text="${discount.amount}"></b> ₽
                        &mdash;
                        <b th:text="${discount.discount}"></b> ₽
                    </li>
                </ul>
            </div>
        </div>
        <div th:each="promo : ${promoActions}" class="card box-shadow"
             th:if="${promo.class.simpleName == 'PercentDiscountPromoAction'}">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Percent discounts</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled text-left mt-3 mb-4">
                    <li th:each="discount : ${promo.discounts}">
                        From
                        <b th:text="${discount.amount}"></b> ₽
                        &mdash;
                        <b th:text="${discount.percent} + '%'"></b>
                    </li>
                </ul>
            </div>
        </div>
        <div th:each="promo : ${promoActions}" class="card box-shadow"
             th:if="${promo.class.simpleName == 'GiftPromoAction'}">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Gifts</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled text-left mt-3 mb-4">
                    <li th:each="gift : ${promo.gifts}">
                        From
                        <b th:text="${gift.amount}"></b> ₽
                        &mdash;
                        <b th:text="${gift.dish.name}"></b>
                    </li>
                </ul>
            </div>
        </div>
        <div th:each="promo : ${promoCodes}" class="card box-shadow"
             th:if="${promo.class.simpleName == 'AbsoluteDiscountPromoCode'}">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Promo Code</h4>
            </div>
            <div class="card-body">
                <h4 class="card-title pricing-card-title" th:text="${promo.code}"></h4>
                <div>get a <b th:text="${promo.discount}"></b> ₽ discount</div>
            </div>
        </div>
        <div th:each="promo : ${promoCodes}" class="card box-shadow"
             th:if="${promo.class.simpleName == 'PercentDiscountPromoCode'}">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Promo Code</h4>
            </div>
            <div class="card-body">
                <h4 class="card-title pricing-card-title" th:text="${promo.code}"></h4>
                <div>get a <b th:text="${promo.percent} + '%'"></b> discount</div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
