<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="#{project.name}"></title>

    <th:block th:include="layout/common_head :: head">common_head</th:block>
</head>

<body>

<th:block th:insert="layout/navbar :: navbar"></th:block>


<div class="container">
    <div th:if="${page == null}" class="alert alert-danger" role="alert">
        The service is not available. Please try again later
    </div>

    <div class="restaurant-list card-deck text-center">
        <div th:each="restaurant : ${page}" class="restaurant card box-shadow" th:object="${restaurant}">
            <div class="card-header">
                <a th:href="@{/restaurant/{id}(id=*{id})}">
                    <h4 class="restaurant-name" th:text="*{name}"></h4>
                </a>
            </div>
            <div class="card-body">
                <a th:href="@{/restaurant/{id}(id=*{id})}">
                    <img class="img-fluid" th:src="*{logo}">
                </a>
                <ul class="cuisine-list list-unstyled text-left mt-3 mb-4">
                    <li th:each="cuisine : *{cuisines}" th:text="${cuisine}">cuisine</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row" th:if="${page != null}">
        <div class="col-sm-12">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                    </li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

</div>

</body>
</html>
