<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:if="${restaurant != null}" th:text="${restaurant.name}"></title>

    <th:block th:include="layout/common_head :: head">common_head</th:block>
</head>

<body data-spy="scroll" data-target=".restaurant-navbar" data-offset="10">

<th:block th:insert="layout/navbar :: navbar"></th:block>

<nav class="restaurant-navbar navbar sticky-top navbar-light bg-light">
    <a th:if="${restaurant != null}" class="navbar-brand logo" href="#about"><img th:src="${restaurant.logo}"/></a>
    <a class="navbar-brand category active" th:href="${'#category-'+category.id}" th:each="category : ${categories}"
       th:text="${category.name}"></a>
</nav>


<div class="container">
    <div th:if="${restaurant == null}" class="alert alert-danger" role="alert">
        The service is not available. Please try again later
    </div>

    <th:block th:insert="promos :: promos"></th:block>


    <div th:id="${'category-'+category.id}" class="category" th:each="category : ${categories}">
        <h2 th:text="${category.name}"></h2>

        <div class="dishes card-deck text-center">
            <div th:each="dish : ${dishes}" class="dish card box-shadow" th:object="${dish}"
                 th:if="${dish.categoryId == category.id}">
                <div class="card-header">
                    <h4 class="dish-name" th:text="*{name}"></h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title price"><span th:text="*{amount}"></span> ₽</h1>
                    <div><img th:src="*{imageUrl}"></div>
                    <div class="description" th:title="*{description}"
                         th:text="*{#strings.abbreviate(description, 50)}"></div>

                    <form class="add-to-cart-form" method="post" th:action="@{/cart/add-to-cart}">
                        <input type="hidden" name="dishId" th:value="*{id}">
                        <input type="submit" class="btn btn-lg btn-block btn-outline-primary" value="Add to cart">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="about" th:if="${restaurant != null}" th:object="${restaurant}" class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <h1 class="text-center" th:text="*{name}"></h1>
                <img th:src="*{logo}">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsve">
                            <table class="table table-striped table-hover">
                                <tbody>
                                <tr>
                                    <td>About</td>
                                    <td th:text="*{information}"></td>
                                </tr>
                                <tr>
                                    <td>Working hours</td>
                                    <td><span th:text="*{openFrom}"></span> &mdash; <span th:text="*{openTo}"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Working days</td>
                                    <td th:text="*{#strings.listJoin(openDays, ', ')}"></td>
                                </tr>
                                <tr>
                                    <td>Company</td>
                                    <td><span th:text="*{legalData.name}"></span></td>
                                </tr>
                                <tr>
                                    <td>INN</td>
                                    <td><span th:text="*{legalData.inn}"></span></td>
                                </tr>
                                <tr>
                                    <td>OGRN</td>
                                    <td><span th:text="*{legalData.ogrn}"></span></td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td><span th:text="*{legalData.address}"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<th:block th:insert="layout/alert :: alert"></th:block>
</body>
</html>
