<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Success</title>

    <th:block th:include="layout/common_head :: head">common_head</th:block>
</head>

<body>

<th:block th:insert="layout/navbar :: navbar">navbar</th:block>


<div class="container">
    <div class="row text-center">
        <div class="col-sm-12">
            <h2>Success</h2>
            <h3>Your order <span th:text="${orderId}">1234</span></h3>
            <div>Your order has been successfully completed</div>
            <a th:href="@{/}" class="btn btn-success">back to home</a>
        </div>
    </div>
</div>

</body>
</html>
